<header>
    <!-- Espacio para el header -->
    <section class="upper-header padding-1rem">
        <h1><a href="/"><img src="/images/mate-logo.jpeg" alt="delReMate logo"></a></h1>
        <section class="upper-header-right">
            <% if (typeof loggedUser == 'undefined') { %>
                <a href="/users/register">Registrarme</a> |
                <a href="/users/login">Ingresar</a>
            <% } else if (typeof loggedUser != 'undefined') { %> 
                <a href="#"> <%= loggedUser.username  %> </a>
            <% } %> 
            <a href="/users/userEdit/1709519451"><i class="icon far fa-user"></i></a>
            <a href="/products/productCart"><i class="icon fas fa-shopping-cart"></i></a>
            <a href="/users/signout"><i class="fas fa-sign-out-alt"></i></a>
        </section>
    </section>
    <section class="lower-header fc-dblue">
        <form action="" class="searchbar">
            <input type="text" placeholder="Buscá por nombre, marca, categoría,...">
            <button class="icon fas fa-search"></button>
        </form>
    </section>
</header>