<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelReMate - Carrito</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/header-n-footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/medias.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 

    <main>
        <section class="upper-main">
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/alfajor.png" alt="alfajor">
                </div>
                <h3 class="padding-1rem">Alimentos</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/vinos.jpg" alt="bebidas">
                </div>
                <h3 class="padding-1rem">Bebidas</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/mateIcon.jpeg" alt="alfajor">
                </div>
                <h3 class="padding-1rem">Regionales</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/poncho.jpg" alt="poncho">
                </div>
                <h3 class="padding-1rem">Ropa</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/yerbaGranel.jpeg" alt="Yerba">
                </div>
                <h3 class="padding-1rem">Yerba</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/oferta.jpg" alt="alfajor">
                </div>
                <h3 class="padding-1rem">En oferta</h3>
            </article>
        </section>

        <section class="lower-main">
            <div class="lm-header">
                <h2 class="fc-darkgray"><span><img class="fileteado" src="/images/fileteadoAp.jpg" alt="fileteado"></span> Ideas para regalar <span><img class="fileteado" src="/images/fileteadoCi.jpg" alt="fileteado"></span></h2>
                <p><img class="fileteado" src="/images/fileteadoBase.jpeg" alt="fileteado"></p>
            </div>

            <div class="squared-cards-container">
            
                <div class="sq-card-wrapper">
                    <article class="squared-card">
                        <div class="img-wrapper">
                            <img src="/images/billetera.jpg" alt="billetera">
                        </div>
                        <div class="title-n-price-container">
                            <h3 class="product-title  fc-darkgray">Billetera de cuero</h3>
                            <p class="price">$9.49</p>
                        </div>
                    </article>
                </div>
                
                <div class="sq-card-wrapper">
                    <article class="squared-card">
                        <div class="img-wrapper">
                            <img src="/images/facon.jpg" alt="facón gaucho">
                        </div>
                        <div class="title-n-price-container">
                            <h3  class="product-title  fc-darkgray">Facón Gaucho</h3>
                            <p class="price">$39.89</p>
                        </div>
                    </article>
                </div>
                
                <div class="sq-card-wrapper">
                    <article class="squared-card">
                        <div class="img-wrapper">
                            <img src="/images/boina.jpg" alt="boina">
                        </div>
                        <div class="title-n-price-container">
                            <h3  class="product-title  fc-darkgray">Boina gaucha</h3>
                            <p class="price">$6.99</p>
                        </div>
                    </article>
                </div>
                
                <div class="sq-card-wrapper">                
                    <article class="squared-card">
                        <div class="img-wrapper">
                            <img src="/images/bombacho.jpg" alt="pantalón bombacho">
                        </div>
                        <div class="title-n-price-container">
                            <h3  class="product-title  fc-darkgray">Pantalón bombacha</h3>
                            <p class="price">$25.00</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <!-- Espacion para el upper footer SEO -->

        <section class="upper-footer padding-1rem">
            
            <article class="footer-card fc-white">
                <div>
                    <h3 class="footer-title">Alimentos</h3>
                    <a href=""><p>Fernet</p></a>
                    <a href="#"><p>Yerba</p></a>
                    <a href="#"><p>Dulce de leche</p></a>
                    <a href="#"><p>Vino</p></a>
                </div>
            </article>

            <article class="footer-card fc-white">
                <div>
                    <h3 class="footer-title">Ropa</h3>
                    <a href="#"><p>Ponchos</p></a>
                    <a href="#"><p>Cintos</p></a>
                    <a href="#"><p>Alpargatas</p></a>
                    <a href="#"><p>Pantalones</p></a>
                </div>
            </article>

            <article class="footer-card fc-white">
                <div>
                    <h3 class="footer-title">Regionales</h3>
                    <a href="#"><p>Mates</p></a>
                    <a href="#"><p>Bombillas</p></a>
                    <a href="#"><p>Alfajores</p></a>
                    <a href="#"><p>Alfeñiques</p></a>
                </div>
            </article>
            
        </section>

        <!-- Footer media -->

        <section class="footer-social fc-yellow padding-1rem">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fas fa-sun"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
        </section>

        <!-- Lower footer con  copy  -->

        <section class="lower-footer">
            <p> &copy;delReMate.com | 2021 | Todos los derechos reservados </p>
        </section>

    </footer>
</body>
</html>