<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelReMate - Carrito</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/header-n-footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/medias.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 

    <main>
        <section class="upper-main">
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/alfajor.png" alt="alfajor">
                </div>
                <h3 class="padding-1rem">Alimentos</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/vinos.jpg" alt="bebidas">
                </div>
                <h3 class="padding-1rem">Bebidas</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/mateIcon.jpeg" alt="alfajor">
                </div>
                <h3 class="padding-1rem">Regionales</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/poncho.jpg" alt="poncho">
                </div>
                <h3 class="padding-1rem">Ropa</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/yerbaGranel.jpeg" alt="Yerba">
                </div>
                <h3 class="padding-1rem">Yerba</h3>
            </article>
            <article class="category-card">
                <div class="img-wrapper">
                    <img src="/images/oferta.jpg" alt="alfajor">
                </div>
                <h3 class="padding-1rem">En oferta</h3>
            </article>
        </section>

        <section class="lower-main">
            <div class="lm-header">
                <h2 class="fc-darkgray"><span><img class="fileteado" src="/images/fileteadoAp.jpg" alt="fileteado"></span> Ideas para regalar <span><img class="fileteado" src="/images/fileteadoCi.jpg" alt="fileteado"></span></h2>
                <p><img class="fileteado" src="/images/fileteadoBase.jpeg" alt="fileteado"></p>
            </div>

            <div class="squared-cards-container">
            
                <div class="sq-card-wrapper">
                    <a href="/productDetail">
                        <article class="squared-card">
                            <div class="img-wrapper">
                                <img src="/images/billetera.jpg" alt="billetera">
                            </div>
                            <div class="title-n-price-container fc-darkgray">
                                <h3 class="product-title">Billetera de cuero</h3>
                                <p class="price">$9.49</p>
                            </div>
                        </article>
                    </a>
                </div>
                
                <div class="sq-card-wrapper">
                    <a href="/productDetail">
                        <article class="squared-card">
                            <div class="img-wrapper">
                                <img src="/images/facon.jpg" alt="fac贸n gaucho">
                            </div>
                            <div class="title-n-price-container fc-darkgray">
                                <h3  class="product-title ">Fac贸n Gaucho</h3>
                                <p class="price">$39.89</p>
                            </div>
                        </article>
                    </a>
                </div>
                
                <div class="sq-card-wrapper">
                    <a href="/productDetail">
                        <article class="squared-card">
                            <div class="img-wrapper">
                                <img src="/images/boina.jpg" alt="boina">
                            </div>
                            <div class="title-n-price-container fc-darkgray">
                                <h3  class="product-title">Boina gaucha</h3>
                                <p class="price">$6.99</p>
                            </div>
                        </article>
                    </a>
                </div>
                
                <div class="sq-card-wrapper">
                    <a href="/productDetail">                
                        <article class="squared-card">
                            <div class="img-wrapper">
                                <img src="/images/bombacho.jpg" alt="pantal贸n bombacho">
                            </div>
                            <div class="title-n-price-container fc-darkgray">
                                <h3  class="product-title">Pantal贸n bombacha</h3>
                                <p class="price">$25.00</p>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>