<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelReMate - Carrito</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/header-n-footer.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/medias.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 

    <main>
        <section class="container">
            <div class="form-errors">
                <% if (typeof errors != 'undefined') { %>
                    
                    <ul>
                        <% for (let i=0; i < errors.length; i++) { %>
                            <li>
                                <%= errors[i].msg %> 
                            </li> 
                        <% } %> 
                    </ul> 
                <% } %>
            </div>    

            <form class="registration-form" action="/users/login" method="post">

                <div class="form-data-section">
                    <input type="text" name="username" id="username" class="input-field" placeholder="Nombre de usuario">
                </div>

                <div class="form-data-section">
                    
                    <input type="password" name="password" class="input-field" placeholder="Contraseña">
                </div>

                <div class="tycPp">
                    <label>
                        <input type="checkbox" class="tyc" name="remember"> Mantener sesión abierta
                    </label>
                </div>

                <button class="form-button blue-button emphasize-button">Ingresar</button>
    
            </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>