<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DelReMate - Carrito</title>
    <link rel="icon" type="img/svg" href="/images/mate-icon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/header-n-footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/medias.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <main>
        <h2>POLITICA DE PRIVACIDAD Y MANEJO DE DATOS - DELREMATE.COM</h2>
        <br>
        <p>
            <a href="javascript:window.close();">CERRAR VENTANA</a>
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident esse illum hic iusto cumque quibusdam, nulla beatae doloremque ipsam commodi, ex quos unde! Unde ipsam tenetur culpa! Libero, sit pariatur?
        Voluptate rerum ex iusto alias cupiditate molestiae. Odio sapiente est excepturi, quo ab ipsam ducimus temporibus totam fugiat animi voluptatibus, explicabo eius voluptate repudiandae quibusdam vero nesciunt! Illo, totam. Suscipit?
        Accusantium, quod. Facere consequuntur placeat, ex eius cumque inventore nihil, esse quod at itaque eveniet quas quisquam nostrum perferendis magni recusandae vel optio similique! Officiis tenetur odit accusantium asperiores alias!
        Pariatur, quas quasi numquam dolorum dicta vero vel ex tenetur error adipisci fugit in omnis similique molestias sequi expedita nemo beatae culpa ab, earum natus? Cumque eos corrupti ratione exercitationem.
        Modi temporibus qui ratione sapiente recusandae aliquid! Nulla sapiente fugiat reprehenderit veniam fugit nisi omnis, facere quae pariatur, laudantium atque ab ut ipsum. Inventore ipsa repellendus maiores eos! Tenetur, eum.
        Totam aspernatur id minus maxime adipisci pariatur possimus architecto aliquam voluptates unde, voluptatem ipsa quam, ipsam quaerat recusandae ducimus repellat cumque at ea nulla sunt alias. Natus, et! Maiores, explicabo?
        Aut asperiores nihil perspiciatis at totam quibusdam, esse adipisci recusandae, sequi laboriosam numquam culpa, placeat reprehenderit quod natus consequatur. Consequuntur consectetur ab reiciendis modi voluptatum, illo sit nisi ut. Quibusdam.
        Quam adipisci culpa architecto, voluptates officiis atque maxime minima dicta in labore impedit sapiente modi corrupti maiores consequuntur officia inventore assumenda doloremque sit! Recusandae magni perferendis incidunt placeat nihil dolore?
        Deleniti accusantium, fugit exercitationem reprehenderit pariatur corrupti vitae voluptate, mollitia aut excepturi magnam qui? Perspiciatis est cupiditate numquam ab! Esse, assumenda ab! Dolorum magnam molestias quos cupiditate voluptatem expedita quis!
        Facilis porro fugiat libero illum quisquam perspiciatis qui explicabo eius ullam! Suscipit nesciunt quisquam similique. Eveniet nam earum quae commodi nostrum quod quaerat delectus id, perspiciatis aperiam. Perferendis, labore quisquam.
        Nemo distinctio placeat nisi, asperiores molestiae corporis earum quasi temporibus at quas. Nemo natus consequatur quasi, odio numquam est doloremque possimus cum rerum, voluptatibus et culpa adipisci repellendus tempora modi.
        Tenetur quibusdam officia consequuntur adipisci eaque eveniet consequatur, dolores cumque dolorum hic amet delectus repellat facilis, corporis odio est vitae voluptatem in. Aperiam obcaecati ratione ad quis ut, quas qui!
        Laudantium aspernatur omnis dolorem sit magni, exercitationem nulla qui accusantium architecto expedita velit! Ea quibusdam consequuntur, commodi aut ratione, iusto officiis nobis saepe quam voluptates fugiat, veniam quod autem sunt!
        Alias molestias, labore nam molestiae officiis facere. Aspernatur sunt voluptatum libero tenetur suscipit officiis ut odio quam, rem autem consequuntur, labore rerum ullam debitis iusto unde officia voluptatibus deserunt! Id!
        Dicta autem obcaecati vitae sit magni adipisci? Eaque suscipit ullam mollitia laboriosam alias sit aliquid officiis modi praesentium blanditiis. Expedita tempora nisi cumque vero soluta. Molestiae debitis quae itaque quas!
        Ea, explicabo obcaecati, sunt necessitatibus eligendi officia laboriosam iusto nisi quae, blanditiis voluptates vero culpa assumenda corrupti distinctio veniam alias. Hic, laboriosam. Tempora eligendi, omnis nam laborum assumenda iusto sunt.
        Aliquam esse voluptas amet dolor doloremque velit ab illo eum itaque exercitationem? Illum asperiores, exercitationem minus architecto debitis sint, vero nesciunt aliquid maiores doloremque similique, sit sunt maxime repellendus esse!
        Iure voluptatum ad doloremque velit earum nulla sit, placeat vero molestiae at ipsa quod exercitationem nam maxime repellat obcaecati rem eveniet non optio dolore itaque. Possimus voluptas corporis aut asperiores?
        Unde consequatur tempore, modi beatae reiciendis veritatis dolorem! Fugit sequi libero quisquam, unde quis culpa omnis illum inventore non excepturi expedita at id perspiciatis. Odio soluta quasi fugiat laboriosam eaque?
        Eaque libero nobis voluptates repellendus vel placeat unde, facere, odio officia quam nostrum eveniet? Minima facilis nihil reprehenderit explicabo harum alias laboriosam eos iusto modi in tempora, sit quae veritatis!
        Eos rem eum quos nesciunt saepe alias dicta eaque nemo facilis officiis quidem dolore, nobis fugit ea, sed voluptas nulla, atque voluptatibus. Natus commodi quas eveniet quisquam nemo asperiores repellendus.
        Fugit provident quos reprehenderit sed minima. Dignissimos repellat temporibus molestiae, beatae ab, necessitatibus veniam exercitationem unde, cum facilis atque vero esse iure. Debitis accusamus architecto voluptatem, molestiae incidunt corrupti dicta?
        Illum tempore, praesentium ab corrupti, dolore velit quam recusandae dolores cumque aut, obcaecati temporibus autem possimus quibusdam. Ab, excepturi sequi, repellat odio non eligendi voluptates quo doloremque atque sunt ipsam!
        Perspiciatis officia adipisci, nam voluptates quasi omnis labore asperiores quaerat amet neque? Laborum reiciendis a minima quia eum! In beatae rem aliquid veritatis. Reiciendis laboriosam nam, doloremque cumque iure inventore.
        Pariatur eos amet earum nesciunt culpa laudantium ex numquam? Assumenda atque aperiam deleniti cumque recusandae ipsa quasi nobis possimus sit aliquid, ipsum corrupti error numquam quidem harum ipsam? Quam, possimus.
        Vel itaque, commodi atque aliquam repellat dignissimos, maiores quaerat sit iusto architecto alias, molestias quae porro sunt quos eius aspernatur excepturi? Nostrum molestias reprehenderit quibusdam cum culpa provident sapiente voluptatem.
        Odio doloribus aliquam, perspiciatis iure, magnam earum, dignissimos eos veritatis molestias dicta tenetur minima? Eveniet exercitationem voluptates labore natus sequi fugiat asperiores eaque at nobis a. Impedit mollitia eligendi adipisci!
        Suscipit id quaerat doloribus fugiat libero? Voluptatum sequi deserunt voluptatibus eaque laudantium iusto excepturi incidunt eum? Necessitatibus, earum voluptate consequuntur exercitationem, et neque expedita quaerat laborum cum, labore quam minima.
        Et aperiam reprehenderit, hic est accusamus totam iste cupiditate. Quos, omnis. Deleniti sit molestias in atque, alias quisquam minus ex vitae iure doloribus quibusdam sint illo officiis sequi, numquam iste?
        Omnis illo, accusantium exercitationem vero beatae possimus laboriosam minima, doloribus tenetur est quaerat dolorem dicta similique iure! Necessitatibus sint ducimus mollitia error alias. Aspernatur dicta maxime, nobis voluptas necessitatibus quaerat.
        Ipsum unde repudiandae eveniet ullam voluptatum enim sapiente libero suscipit numquam maiores vero hic dolorum architecto vel, at cum tempora esse itaque facere? Voluptatum sed ad molestiae distinctio fugiat ullam.
        Architecto totam voluptatum deserunt, illo voluptates id accusantium quia nihil numquam fugit sit, quidem tenetur earum nostrum aliquid vero minima pariatur mollitia consequatur ut deleniti. Praesentium distinctio eum autem fugit.
        Omnis ad dignissimos assumenda molestiae nostrum possimus veniam dolor beatae nobis corrupti deserunt similique odit, deleniti necessitatibus fugiat eligendi amet vel at esse nisi soluta debitis aliquid harum incidunt. Perferendis.
        Nesciunt dignissimos repudiandae facilis natus, neque aliquam cupiditate. Doloribus voluptatum consequatur est? Eaque quo laudantium facere maxime quaerat. Quas facere provident nobis atque at ullam quasi iure nam error architecto?
        Omnis illum delectus aliquid ad, porro, odit veniam ut commodi natus ipsam ea. Veritatis, aliquid. Magnam labore laudantium enim, est explicabo tenetur commodi culpa nobis quidem perferendis beatae? Molestiae, atque!
        Nulla quas quis et? Modi, magni, labore repellat non error nisi laudantium omnis aliquid beatae quis reiciendis illo fuga, dolorem quos animi nesciunt autem impedit vel! Aliquid suscipit blanditiis ipsum.
        Ea ut sed alias praesentium nostrum, in itaque reiciendis natus omnis laborum ipsum facere, non ullam recusandae hic, porro animi necessitatibus dicta vero corporis. Ab labore at reprehenderit dicta voluptate?
        Possimus, enim excepturi ducimus similique cumque explicabo inventore laborum beatae reiciendis quas suscipit modi impedit assumenda recusandae exercitationem aliquam perferendis eaque incidunt dolorum? Expedita quod odit a ea, repellat omnis!
        Repellat nesciunt dignissimos magni veritatis aliquam mollitia temporibus ad sit eos, sed sequi, quam velit odit animi corrupti iure expedita exercitationem minus quo blanditiis odio maxime doloremque? Facilis, voluptatum dicta.
        Accusamus nisi, ullam illo, natus temporibus obcaecati doloribus ea error similique, iure placeat beatae modi. Officiis facere nulla corrupti numquam quas libero veritatis deleniti corporis quo maiores dolorem, ipsum eius!
        Doloremque necessitatibus repudiandae rerum cum laudantium. Dignissimos perspiciatis, consectetur maxime excepturi possimus neque tempora eos libero voluptas quas, quidem sequi, laboriosam aspernatur exercitationem itaque adipisci suscipit molestiae nobis ea molestias.
        Amet tempora eum sunt labore eos, nulla deleniti assumenda officiis, non blanditiis eligendi similique laboriosam? Molestiae necessitatibus, omnis atque odit maiores deleniti ea, culpa, dolorum aliquam porro error impedit asperiores.
        Ad doloribus vero sunt quasi necessitatibus error, inventore nam nostrum dolores similique sit reprehenderit consequatur, accusamus, neque tempore laboriosam aperiam sint voluptate tempora! Aliquam quae mollitia temporibus placeat optio praesentium.
        Ut ullam necessitatibus voluptatem modi officia quos at voluptates minima blanditiis, quia tempora distinctio dolor delectus consequatur cumque officiis explicabo voluptas illo optio vel commodi inventore! Veritatis ea repudiandae cum?
        Non dolorem voluptatem itaque obcaecati saepe earum amet voluptate ex. Accusantium numquam sequi sed, rerum ex cupiditate. Voluptatum deserunt dolorum repudiandae dolorem ad quas natus dignissimos harum, amet nisi vel?
        Cupiditate delectus a libero molestiae magni debitis quibusdam et ex eligendi sunt, eveniet, consectetur sequi repudiandae iste voluptatum animi odit, nulla sapiente iure quod minus aperiam aliquam? Dolorem, sunt fugiat!
        Atque, animi ab reiciendis itaque unde natus, in cum qui exercitationem eum maxime non adipisci nemo iusto aliquid ipsam. Aspernatur deserunt voluptatibus voluptatem natus perferendis nisi? In tempore debitis obcaecati!
        Fugiat autem sed, quas pariatur maxime atque suscipit, saepe rem corporis non voluptate ad. Delectus dolores culpa dicta. Nam deserunt dolor dolorum veritatis dignissimos earum iste officia esse dolore est?
        Sint amet quia maxime officiis minus, odio placeat repellendus? Ullam nobis hic facere non laudantium? Voluptates quis, perspiciatis cupiditate error adipisci atque optio ipsum voluptate ad ex obcaecati harum nulla!
        Minus tenetur perferendis quia autem nobis, excepturi commodi tempore fugiat quidem, temporibus quos cupiditate? Molestiae mollitia, dolorum maxime velit sequi hic nemo quaerat quod, excepturi, sed adipisci modi iure molestias.
        Architecto laudantium delectus id dolore fuga ullam accusantium mollitia dignissimos eaque. Veniam quia magni, cum animi laboriosam dolores minus culpa quidem eligendi ab dignissimos quam fuga laborum sequi, vero excepturi?
        Sequi, neque veritatis! Expedita enim pariatur id, quos alias rem magnam, unde natus eum ipsa sit ab praesentium excepturi nam est assumenda voluptas consequuntur officia recusandae, earum non! Unde, totam.
        Quia, sequi fuga? Exercitationem fugit in, consequuntur molestiae facere eligendi deleniti assumenda veniam hic aut asperiores nesciunt earum libero, aperiam similique aliquam qui blanditiis commodi! Eum id sit aspernatur voluptate?
        Harum laudantium ipsa asperiores repellendus natus, aliquid beatae quasi assumenda porro a, fugiat dolorem ab impedit fugit, at quis debitis vero voluptas. Tempora earum quas delectus totam itaque mollitia esse?
        Qui quos quod veniam unde cumque ab suscipit fugit deleniti voluptatem. Mollitia, nulla quae eaque eum nihil eligendi perferendis earum. Nam dignissimos odio et. Asperiores eveniet ratione totam accusantium sint.
        Tenetur vero ducimus nihil consectetur pariatur accusamus natus numquam perspiciatis debitis sequi impedit, expedita minus dignissimos id recusandae incidunt quasi quod tempora. Dolorum perspiciatis impedit molestias possimus, at voluptates deleniti.
        Dolores eligendi ex corporis ipsum, sunt itaque totam delectus tempore, amet provident cupiditate? Incidunt, sequi nihil a vel amet ipsa totam molestiae hic, dicta sint, iusto quia corrupti veniam aliquam.
        Tenetur est, nam ullam dolor dolore qui? A saepe odit aliquam minima nulla quam dolor modi id sapiente voluptate impedit, ea magni quod. Hic tenetur sapiente illo mollitia, nihil iusto?
        Ullam quo, qui est aut doloremque, sint iure porro vitae animi omnis fugiat aliquam nam reiciendis voluptas neque dolores quod labore consequatur pariatur et accusamus architecto natus error? Nesciunt, blanditiis?
        Omnis unde voluptas reprehenderit laudantium saepe dolorem maxime quibusdam ipsam amet dolore assumenda nostrum consequatur minima error sapiente, sunt eius facere ex sequi modi iusto, laboriosam labore est animi. Earum!
        Reiciendis illo aut adipisci rem quia! Consequatur assumenda earum ratione animi sit saepe vitae expedita at. Corporis nulla rem ratione sit perspiciatis eius quo ducimus dignissimos quaerat, temporibus deserunt minima.
        Minima, incidunt. Inventore nesciunt rerum architecto voluptatem eligendi totam nemo, eaque labore ipsa officia! Fuga, earum soluta aspernatur cupiditate, explicabo consectetur in cumque suscipit assumenda recusandae facere ipsa laborum temporibus!
        Inventore itaque maiores ea repellendus aliquid blanditiis. Maxime minus, dolor aliquam quisquam illum consequatur veniam iste similique. Aperiam nisi cumque incidunt possimus voluptas? Quis delectus quasi repudiandae voluptatum id corporis!
        Quo adipisci sequi vel, ullam maiores nisi totam asperiores explicabo rerum placeat assumenda animi sapiente dolorum eius, est consectetur tenetur magnam iure architecto voluptate. Neque hic adipisci dolore rem deleniti.
        Voluptatum nisi omnis accusamus eaque in blanditiis eligendi dolorum. Error quae delectus et repudiandae sint aliquam ipsam pariatur quaerat dicta magnam fuga nulla ad nihil iure eligendi praesentium, ut nisi.
        Cupiditate, nobis repudiandae quae nulla ut enim accusantium consectetur tempora, saepe eos explicabo est, doloribus veritatis facilis tenetur atque adipisci quam totam temporibus consequatur officia placeat ipsum nemo velit. Sapiente!
        Soluta nihil minima voluptas eligendi odio accusantium maxime temporibus quaerat. Architecto ratione commodi fuga? Nam, quae velit. At maiores ex repellat quasi, tenetur totam blanditiis pariatur placeat consectetur minima? Fugiat.
        Aliquam nemo, dolorum sit deserunt itaque exercitationem quaerat, ducimus aut recusandae reprehenderit sapiente earum consequuntur quia et minima dignissimos? Enim officiis laudantium rem recusandae exercitationem molestiae dolore alias natus eius!
        Voluptatem, aliquid laudantium explicabo nihil ratione placeat assumenda saepe sequi autem ea eos tempore. Nesciunt fugiat voluptatibus similique eius, veniam modi fuga debitis dolores nostrum velit ab molestias labore quae.
        Sint reiciendis necessitatibus exercitationem reprehenderit unde nostrum atque, earum quod blanditiis? Omnis possimus quam debitis asperiores corporis culpa vitae dicta necessitatibus aut soluta maiores dolor, ut corrupti tempora, atque autem!
        Facere facilis tempora ex deleniti culpa ad dignissimos pariatur debitis tempore eaque expedita, doloribus est, modi vero? Rerum ad odio fuga impedit numquam assumenda cum voluptates, corrupti harum neque voluptate!
        Est, tenetur esse voluptas repudiandae nihil aliquid delectus explicabo molestiae repellat veritatis? Soluta sit molestiae sint ducimus architecto? Excepturi dolores sint commodi atque unde perspiciatis ullam praesentium consectetur rerum architecto?
        Aut fuga error nostrum sed magni, assumenda, maxime nisi cum consequatur ipsa suscipit laborum sapiente recusandae officiis atque consectetur facere dolorum eos, modi expedita rerum. Ad sapiente officiis pariatur possimus.
        Tempore architecto repellendus quibusdam, mollitia doloremque maxime rerum minus expedita labore rem magni hic asperiores unde saepe corrupti qui at ipsum temporibus! Veniam culpa eveniet exercitationem repudiandae a sapiente ut?
        Adipisci maiores at blanditiis voluptatibus facilis deserunt aspernatur ipsum placeat vel. Quidem incidunt, sapiente provident dolorum omnis quas assumenda tempora eligendi sequi asperiores natus dolore perspiciatis doloremque accusantium earum aut.
        Provident, vitae velit unde accusamus maxime ipsum pariatur doloremque. Asperiores nobis inventore incidunt quia, eaque voluptatibus error saepe ad atque assumenda laudantium unde cum esse, cupiditate ex. Natus, dicta voluptates?
        Cum totam nihil, quo explicabo aliquam suscipit exercitationem ex itaque recusandae quibusdam corrupti alias deserunt ipsa? At hic sed quibusdam! Ipsam, fugit facere! Ducimus minima quisquam voluptas quas labore deleniti!
        Dignissimos rerum eum reiciendis, ad, praesentium quod accusamus corrupti quaerat esse voluptate asperiores earum voluptates ea molestias numquam ducimus. Fugit fugiat sint, consectetur enim quibusdam neque commodi vitae consequuntur non.
        Maiores culpa amet recusandae odit aliquam doloribus deleniti repellendus dolore! Itaque ea dolor, error placeat facere quae illo voluptas beatae atque officia eveniet doloribus commodi porro consequatur illum, accusamus laborum.
        Beatae consequuntur nostrum eos, autem adipisci numquam doloribus optio qui corporis ullam necessitatibus nihil debitis asperiores ratione porro repellendus, voluptate magnam saepe facilis, fugiat illum. Fugiat dolores dolorem exercitationem consectetur!
        Esse repellendus placeat ea aspernatur minus nisi voluptatibus ab perspiciatis vero eum ipsa ipsum alias unde quo, temporibus dolore! Corrupti cupiditate, ut facilis eius ex voluptates autem fugiat velit ratione.
        A tempora nihil fuga! Optio rem numquam voluptates cumque repudiandae, vero expedita perspiciatis nobis magni at dolores odit dolorum excepturi iure. Dolorem ratione, dolores neque nihil ipsa saepe nobis consequatur.
        Fugiat, quisquam. Aliquid tenetur vitae accusamus officia cumque fugit animi, esse a expedita laborum, nostrum, odio debitis dicta voluptatem velit fuga quae? Quod totam officia autem, odit tempora tenetur labore.
        Similique nesciunt eligendi aspernatur, magni officiis aperiam velit expedita itaque consequatur fugit modi nisi. Natus, deleniti ad asperiores error iure explicabo. Magnam nesciunt veniam explicabo ullam adipisci quidem dolorem quasi.
        Dolorum quas nemo obcaecati ipsa tenetur? Id, facilis vero distinctio a sed ut accusamus dolorum magnam! Ullam aut voluptates cupiditate nulla. Sequi, eum? Delectus reiciendis nostrum assumenda? Accusantium, sed eos.
        Blanditiis sit culpa soluta quam quas perferendis corporis maiores facere temporibus quo sequi atque esse suscipit consequuntur voluptate veniam eveniet, error itaque, quia perspiciatis? Sint porro recusandae deserunt minus expedita!
        Fugit labore porro itaque eveniet non placeat reiciendis maiores fugiat ut voluptate. Eaque, dicta voluptate id voluptatem commodi labore necessitatibus, maxime eum reiciendis provident laboriosam fuga ipsum eius deleniti inventore.
        Quas, quo. Dolorum doloremque ipsa enim aperiam veniam error odit, repudiandae eaque nostrum possimus molestias quisquam in quo quam sapiente vero itaque est laboriosam. Doloribus dolore quas vitae sit molestiae.
        Laudantium eos consectetur sed quam voluptatem repudiandae commodi esse quidem autem. Nisi, nemo aspernatur est vero iure architecto saepe esse expedita tempore, consequatur nam blanditiis consectetur numquam, illum iste voluptatibus.
        Quod praesentium incidunt dolorum harum architecto delectus quisquam ab consequuntur laudantium! Tempora, doloremque ratione quasi pariatur voluptas nemo dolore odio et aut illum. Quae deleniti ut assumenda, pariatur neque tempora.
        Illum iste qui, inventore libero eius eligendi cumque sequi eos consectetur? Voluptatum sint, architecto dicta doloribus libero deserunt quibusdam veniam ducimus fugiat vel repellat enim totam illo asperiores inventore quasi?
        Dolores corrupti maiores iusto rerum placeat totam itaque vitae dolor commodi, modi qui corporis magni omnis necessitatibus quia, explicabo quaerat non. Inventore error excepturi adipisci similique odit dolorem natus debitis?
        Ipsam est architecto laborum exercitationem at obcaecati iusto? Tempora aperiam ab provident impedit tempore, non quasi error necessitatibus laboriosam et ipsum, nisi sapiente earum aliquam voluptate animi deleniti esse dolorum!
        Perferendis quas voluptatum praesentium? Cum perferendis minus ratione qui, quae maiores laudantium ut deleniti eius ab quod distinctio ipsum tenetur. Autem rerum tempora esse minus magnam repellendus fuga ipsam beatae?
        Eius magnam ipsum ullam, sapiente, et quae veritatis molestias distinctio adipisci aliquam suscipit sit atque assumenda iure optio sed! Illo provident natus perspiciatis doloremque itaque, pariatur nesciunt repellat enim voluptate.
        Natus error sapiente animi maxime. Pariatur soluta praesentium optio nihil ad distinctio, tempore laboriosam unde! Consequatur fugit, reprehenderit laboriosam ea perferendis quam molestiae voluptates, enim dignissimos blanditiis eius quisquam pariatur?
        Consequuntur ipsam dolor debitis, provident suscipit error eligendi, nam perspiciatis quas accusamus voluptatem magnam vel sapiente reiciendis ad voluptatibus obcaecati similique itaque animi iusto blanditiis sunt, ex et autem. Commodi!
        Sapiente accusantium distinctio iusto architecto temporibus, consequatur optio voluptatum repellendus similique quaerat illo sit provident facere saepe itaque laudantium, maxime dignissimos nihil obcaecati inventore velit est blanditiis, deserunt nam? Dolores?
        Voluptates vero quaerat eaque aperiam sequi? Eum facilis, fugit magni recusandae velit sint atque eligendi consectetur porro quo quidem debitis aut quisquam expedita, cum ut officiis nostrum aliquam ducimus. At.
        Veritatis aut voluptatem harum eos consequuntur blanditiis. Consequuntur, eaque blanditiis enim dolorem quae ratione nostrum ad illum aut beatae amet, temporibus vero sapiente id consectetur. Sed odio minima inventore dolorum!
        </p>
        <br>
        <p>
            <a href="javascript:window.close();">CERRAR VENTANA</a>
        </p>
        <br>
    </main>
</body>
</html>
