<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelReMate - Carrito</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/header-n-footer.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/medias.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 


    <main>

        <!-- Section de listado de productos en carrito-->

        <section class="cart">
            <section class="cart-items">
                <div class="cart-items-wrapper">
                    <div class="item-pic">
                        <img src="/images/alpargatas.jpg" alt="item photo">
                    </div>
                    <article class="item-details">
                        <div class="title-freight-wrap padding-1rem">
                            <h2 class="item-title">Alpargatas</h2>
                            <p class="freight fc-yellow">Envío internacional <i class="fab fa-dhl"></i> <i class="fab fa-fedex"></i> <i class="fas fa-shipping-fast"></i></p>
                        </div>
                    </article>
                    <article class="q-n-price">
                        <input type="number padding-1rem" placeholder="1">
                        <h3 class="price padding-1rem">$8.99</h3>
                    </article>
                </div>
                <div class="cart-items-wrapper">
                    <div class="item-pic">
                        <img src="/images/ddl.jpg" alt="item photo">
                    </div>
                    <article class="item-details">
                        <div class="title-freight-wrap padding-1rem">
                            <h2 class="item-title">Dulce de leche</h2>
                            <p class="freight fc-yellow">Envío internacional <i class="fab fa-dhl"></i> <i class="fab fa-fedex"></i> <i class="fas fa-shipping-fast"></i></p>
                        </div>
                    </article>
                    <article class="q-n-price">
                        <input type="number padding-1rem" placeholder="1">
                        <h3 class="price padding-1rem">$4.99</h3>
                    </article>
                </div>
                <div class="cart-items-wrapper">
                    <div class="item-pic">
                        <img src="/images/fernet.jpg" alt="item photo">
                    </div>
                    <article class="item-details">
                        <div class="title-freight-wrap padding-1rem">
                            <h2 class="item-title">Fernet</h2>
                            <p class="freight fc-yellow">Envío internacional <i class="fab fa-dhl"></i> <i class="fab fa-fedex"></i> <i class="fas fa-shipping-fast"></i></p>
                        </div>
                    </article>
                    <article class="q-n-price">
                        <input type="number padding-1rem" placeholder="1">
                        <h3 class="price padding-1rem">$12.99</h3>
                    </article>
                </div>
                <div class="cart-items-wrapper">
                    <div class="item-pic">
                        <img src="/images/yerba.jpg" alt="item photo">
                    </div>
                    <article class="item-details">
                        <div class="title-freight-wrap padding-1rem">
                            <h2 class="item-title">Yerba</h2>
                            <p class="freight fc-yellow">Envío internacional <i class="fab fa-dhl"></i> <i class="fab fa-fedex"></i> <i class="fas fa-shipping-fast"></i></p>
                        </div>
                    </article>
                    <article class="q-n-price">
                        <input type="number padding-1rem" placeholder="1">
                        <h3 class="price padding-1rem">$3.99</h3>
                    </article>
                </div>
                <div class="cart-items-wrapper">
                    <div class="item-pic">
                        <img src="/images/vino.jpg" alt="item photo">
                    </div>
                    <article class="item-details">
                        <div class="title-freight-wrap padding-1rem">
                            <h2 class="item-title">Vino</h2>
                            <p class="freight fc-yellow">Envío internacional <i class="fab fa-dhl"></i> <i class="fab fa-fedex"></i> <i class="fas fa-shipping-fast"></i></p>
                        </div>
                    </article>
                    <article class="q-n-price">
                        <input type="number padding-1rem" placeholder="1">
                        <h3 class="price padding-1rem">$3.49</h3>
                    </article>
                </div>
                <div class="cart-items-wrapper">
                    <div class="item-pic">
                        <img src="/images/mate-bombilla.jpg" alt="item photo">
                    </div>
                    <article class="item-details">
                        <div class="title-freight-wrap padding-1rem">
                            <h2 class="item-title">Mate con bombilla</h2>
                            <p class="freight fc-yellow">Envío internacional <i class="fab fa-dhl"></i> <i class="fab fa-fedex"></i> <i class="fas fa-shipping-fast"></i></p>
                        </div>
                    </article>
                    <article class="q-n-price">
                        <input type="number padding-1rem" placeholder="1">
                        <h3 class="price padding-1rem">$6.79</h3>
                    </article>
                </div>
            </section>

            <!--Sección de payment-->

            <section class="payment">
                <div class="address fc-darkgray">
                    <p>Domicilio de entrega:</p> 
                    <p>2do Esc. B Edificio Generalli, Pg. de Gràcia, 11, 08007 Barcelona, España</p>
                </div>
                <div class="pre-checkout">
                    <div class="checkout-wrapper">
                        <h3 class="total-purchase">Total:</h3>
                        <h3 class="total-sum">$41.24</h3>
                    </div>
                    <button class="pay-button" type="submit">PAGAR</button>
                </div>
            </section>
        </section>

        <!-- Sección de similares a tu compra -->

        <section class="continue-shopping">

            <h3>Similares a tu carrito</h3>

            <section class="more-similars">
                <article class="similar-card">
                    <div class="item-pic">
                        <img src="/images/yerbaT.jpg" alt="">
                    </div>
                    <div>
                        <h2 class="item-title">Yerba Taragüí</h2>
                        <h3 class="price">$6.99</h3>
                    </div>
                </article>
                <article class="similar-card">
                    <div class="item-pic">
                        <img src="/images/yerbaT.jpg" alt="">
                    </div>
                    <div>
                        <h2 class="item-title">Yerba Taragüí</h2>
                        <h3 class="price">$6.99</h3>
                    </div>
                </article>
            </section>

        </section>

    </main>

    <%- include('./partials/footer') %> 
</body>
</html>