* {
    box-sizing: border-box;
}

main {
    margin: auto;
}

.container {
    padding: 1rem;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.form-data-section {
    margin: 1rem;
    width: 100%;
    max-width: 500px;
}

.form-data-section label {
    display: block;
    padding: 4px;
}

.form-data-section :first-child {
    font-weight: bold;
    padding-bottom: 1rem;
}

.usertype {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.usertype label{
    font-weight: 400 !important;
}

.input-field {
    border: solid 1px #73ACDF;
    border-radius: 25px;
    height: 1.5rem;
    font-size: 12px;
    padding: 1rem;
    width: 100%;

}

.cat-option {
    font-size: 14px;
}

.country-selector {
    border: solid 1px #73ACDF;
    border-radius: 25px;
    font-size: 12px;
    padding: 0.5rem;
    width: 100%;
    color: #666;
    font-weight: bold;
}

.tycPp {
    font-size: 12px;
    color: #666;
    padding: 10px;
}

.form-data-section .tyc a{
    color: #666;
    text-decoration: underline;
}

.form-data-section .tyc a:visited{
    color: #666 !important;
    text-decoration: underline !important;
}

.form-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: #d74f3d;
    line-height: 1.5;
}
.form-errors ul {
    list-style: none;
}