/* 736px iPhone 8 Plus landscape position */

/* 737px Phablet / Table portrait position */

@media (min-width: 737px){
    .upper-main {
        flex-wrap: nowrap;
    }
    .lower-main .squared-cards-container .sq-card-wrapper {
        width: 25%;
    }
    .productDetail-wrapper{
    }
    .productDetail-wrapper .upper-container {
        flex-direction: row;
    }
    .productDetail-wrapper .upper-container .first-uc {
        width: 70%;
    }
    .productDetail-wrapper .upper-container .second-uc {
        padding-top: 1rem;
        width: 30%;
        position: fixed;
        top: 100px;
        left: 65%;
    }
    .second-uc .button-section button {
        min-width: 275px;
    }
    .lower-container .description {
        width: 65%;
    }
}

@media (min-width: 980px){
    .searchbar {
        position: absolute;
        top: 1rem;
        left: 25%;
        width: 445px;
    }
    .upper-main .category-card:hover {
        text-shadow: 0px 0px 0.5px #666;
        color: #000;
    }
    .lower-main .squared-cards-container .sq-card-wrapper .squared-card{
        box-shadow: 0px 0px 0px 0px #73ACDF;
    }
    .lower-main .squared-cards-container .sq-card-wrapper .squared-card:hover{
        box-shadow: 0px 0px 5px 3px #73ACDF;
    }
}

@media (min-width: 1200px){
    header,
    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .searchbar {
        left: 32%;
        width: 500px;
    }
}