.productDetail-wrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.upper-container {
    display: flex;
    flex-direction: column;
}

.first-uc img {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.second-uc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-uc .price {
    font-size: 18px;
    font-weight: 400;
}

.second-uc .stock {
    padding-bottom: 1rem;
}

.second-uc .button-section{
    text-align: center;
}
.second-uc  .button-section button {
    min-width: 250px;
}

.second-uc .seller-data {
    align-self: flex-start;
}

.lower-container {
    margin-bottom: 1rem;
}

.lower-container .size {
    padding-bottom: 1rem;
}

.lower-container .description {
    text-align: justify;
}