.container{
    margin: 0, auto;
}



.section-header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.form-data-section{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.form-data-section label {
    width: 30%;
}

.registration-form button {
    align-self: flex-start;
}