<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelReMate - Carrito</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/header-n-footer.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/medias.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header') %> 

    <main>
        <section class="error-img">
            <a href="/"><img src="/images/mendieta-error.png" alt="Que lo parió! Es un error"></a>
        </section>
        <section class="container">
            <h2>¡Ahijuna! M'ijo!</h2>

            <p>Me ha cebado un mate frío... o bien la página que estás buscando no existe...</p>

            <p>¡No se preocupe! <a href="/">Sigiuiendo esta ruta puede volver al inicio...</a></p>

        </section>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>